* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: url(japan.jpg);
     background-size: cover;
    color: white;
}

nav {
    width: 100%;
    height: 35px;
    background-color: #a92a04;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #0f0f0f;
}

.hero {
   
    display: flex;
    position: relative;
}

.heading {
    position: absolute;
    top: 200px;
    left: 20px;
    
}

h1 {
    font-weight: 800;
    color: #0f0f0f;
}

p {
    position: absolute;
    top: 250px;
    left: 20px;
    color: #0f0f0f;
    font-size: 1.1rem;
}

.btn {
    position: absolute;
    padding: 12px 25px;
    top: 300px;
    left: 20px;
    background-color: #e35704;
    border-radius: 30px;
    border-top-right-radius: 1px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    border-top-right-radius: 30px;
    background-color: aliceblue;
}



